<header class="pb-4 pt-4 bg-secondary">
  <div class="container">
    <div *ngIf="isAuth" class="d-flex justify-content-between">
      <div>
        <button class="btn btn-light mr-3" routerLink="/">Dashboard</button>
        <button class="btn btn-light" routerLink="/create-note">
          Create Note
        </button>
      </div>
      <div>
        <button class="btn btn-danger" (click)="onLogoutClick()">Logout</button>
      </div>
    </div>
    <div *ngIf="!isAuth" class="d-flex justify-content-between">
      <div>
        <button class="btn btn-light mr-3" routerLink="/login">Login</button>
        <button class="btn btn-light" routerLink="/register">Register</button>
      </div>
    </div>
  </div>
</header>
